:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;

  @media (max-width: 520px) {
    padding-inline: 20px;
  }
}
